/* .box{
    background-color: aqua;
    border: 2px  solid blue;
    width: 100px;
    height: 100px;
    color: black;
    text-align: center;
    margin: 5px;
}
/* .box1{
    background-color: aqua;
    border: 2px  solid blue;
    width: 100px;
    height: 100px;
    color: black;
    text-align: center;
} */
/* .child{
    background-color: rgb(0, 0, 0);
    border: 2px  solid rgb(146, 146, 193);
    width: 100px;
    height: 100px;
    color: rgb(255, 249, 249);
    text-align: center;
} */ 
